[schoolMember]
stu_seq = 10002
teacher_seq = 90001

[record]
stu_classes_seq = 15
record_seq = 10
stu_record_seq = 7
course_seq = 103

[admin]
user_name = admin
password = e10adc3949ba59abbe56e057f20f883e

